* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html {
    font-family: -apple-system, 'SF Pro Text', 'Helvetica Neue', 'Source Sans Pro', sans-serif, 'PingFang SC', 'Noto Sans CJK SC', 'Source Han Sans CN';
    font-size: 14px;
    line-height: 1.5em;
    background: #F5F5F5;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .block-constraint {
        padding: 0px 20px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .block-constraint {
        max-width: 880px;
        padding: 0px 20px;
        margin: 0 auto;
    }
}
.padless {
    padding: 1px 0;
}

/* ------------------------------------
    Component: Special
------------------------------------ */

.finallyShow {
    opacity: 0;
}

/* ------------------------------------
    Component: Grand-Header
------------------------------------ */

.grand-header {
    color: #FFF;
    background: #2086FF url(/pic/143789.png) scroll top center;
    background-size: cover;
    padding: 15px 0 0;
}
.grand-header h1 {
    /* font-family: 'Noto Serif', 'Source Serif Pro', 'Iowan Old Style', 'Charter', 'Georgia', 'Times New Roman', serif, 'Noto Serif SC', 'PingFang SC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Hiragino Sans GB', 'YuGothic', 'Heiti SC'; */
    /* font-size: 32px; */
    font-weight: 600;
}
.nav-options > a {
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 90, 0.3);
    display: block;
    float: left;
    width: calc(100% / 4);
    padding: 15px 0;
}
@media screen and (max-width: 450px) {
    .nav-options > a {
        width: calc(100% / 2);
    }
}
.nav-options > a:hover {
    background: rgba(0, 10, 90, 0.8);
}

/* ------------------------------------
    Component: hierarchy Location
------------------------------------ */

#js-pageNavHierarchyLocation a {
    color: #26D;
    text-decoration: none;
    border-bottom: 1px solid #26D;
}

/* ------------------------------------
    Component: Grand-Body
------------------------------------ */

.grand-body {
    background: #FFF;
    padding: 0 0 60px;
}

/* ------------------------------------
    Component: Articles List
------------------------------------ */

.articles-list-item {
    color: #26D;
    text-decoration: none;
    border: none;
    display: block;
}
.articles-list-item-bordertop {
    background: #DDD;
    height: 1px;
}
.articles-list-item-borderbottom {
    height: 1px;
}
.articles-list-item:hover {
    background: rgba(0, 0, 0, 0.025);
    box-shadow: inset #DDD 0 0 0 1px;
    /* border: 1px solid #DDD; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0); */
    /* box-shadow: #DDD 0 1px 0; */
}
/* .articles-list-item:hover .articles-list-item-bordertop, */
/* .articles-list-item:hover .articles-list-item-borderbottom, */
.articles-list-item:hover + .articles-list-item > .articles-list-item-bordertop {
    height: 0px;
}
.articles-list-item-inner {
    color: #26D;
    text-decoration: none;
    display: block;
    padding: 5px 0px 10px;
}
.articles-list-item-inner-title {
    font-size: 22px;
    color: #000;
    color: #26D;
    color: inherit;
    padding: 15px 0 5px;
}
.articles-list-item-inner-metadata {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    padding: 0 0 3px;
}
.articles-list-item:hover .articles-list-item-inner-metadata {
    padding: 0 0 4px;
}
.articles-list-item-inner-metadata-date {}
.articles-list-item-inner-metadata-editor {}
@media screen and (min-width: 768px) {
    .articles-list-item-inner-metadata-date,
    .articles-list-item-inner-metadata-editor {
        display: inline-block;
    }
    .articles-list-item-inner-metadata-editor {
        margin-left: 20px;
    }
}
.articles-list-item-inner-metadata-monospace {
    font-family: 'Source Code Pro', 'Menlo', monospace, 'SF Pro Text', 'PingFang SC', 'Noto Sans CJK SC', 'Source Han Sans CN', sans-serif;
}
[data-view-model="articleDetail"] .articles-list-item-inner-metadata .articles-list-item-inner-metadata-monospace {
    margin-left: 5px;
}

/* ------------------------------------
    Component: Grand-Footer
------------------------------------ */

.grand-footer {
    background: #F5F5F5;
    padding: 80px 0 100px;
}
.grand-footer p {
    font-size: 14px;
    color: #888;
}
